<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537472477541-s275f7t97bg531ojqduds0a1aq35ocrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537472477541-s275f7t97bg531ojqduds0a1aq35ocrp</string>
	<key>API_KEY</key>
	<string>AIzaSyCUgIfS-yNrIVtOD0MZOS_MpqBtKb-N8F4</string>
	<key>GCM_SENDER_ID</key>
	<string>537472477541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andres.smartTakesApp</string>
	<key>PROJECT_ID</key>
	<string>smarttakes-7b410</string>
	<key>STORAGE_BUCKET</key>
	<string>smarttakes-7b410.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537472477541:ios:c0a274b408f9fd2d8d998c</string>
</dict>
</plist>